/*input*/
textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]{
	margin-top: 6px;
}

/*typography extra*/

p.warning,
em.warning,
b.warning,
small.warning{
	color:#f0ad4e;
}
p.danger,
em.danger,
b.danger,
small.danger{
	color:#d9534f;
}
.b{
	font-weight: bold;
}